* {
    padding: 0;
    margin: 0%;
}


body,
html {
    min-height: 100%;
    min-width: 100%;
}

body {
    background: linear-gradient(to bottom, purple, black);
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 15vh;
    box-shadow: 0px 0px 5px plum;
    background: linear-gradient(to bottom, plum, purple);
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
}

header h1 {
    font-family: 'Poiret One', cursive;
    font-weight: bold;
}

header a {
    padding: 5vh;
    text-decoration-line: none;
    font-family: 'Istok Web', sans-serif;
    color: black;
}

header a:hover {
    color: white;
}



main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 14.5vw;
    margin-top: 15vw;

}

main h2,
main p {
    text-align: center;

    color: floralwhite;
}

main h2 {
    margin-bottom: 10vh;
    font-family: 'Poiret One', cursive;
    text-decoration-line: underline;

}

main p {
    font-size: large;
    font-family: 'Istok Web', sans-serif;
}

.textposition {
    grid-column: 1/3;
}

.positionimg {
    grid-row: 2/3;
    grid-column: 2/3;
    align-self: flex-end;
    justify-self: flex-end;
    margin-right: 10vh;

}

.width {
    width: 40vh;

}

.footer {
    text-align: center;
    position: absolute;
    bottom: 0%;
    left: 0%;
    right: 0%;
    padding: 1vh 0;
    background: linear-gradient(to bottom, plum, purple);
    font-family: 'Poiret One', cursive;
    font-weight: bold;
    font-size: large;

}


@media screen and (min-device-width : 320px) and (max-device-width : 480px) {
    
    }
    