* {
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(to right, white, rgb(51, 105, 117));
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 10px 50px;
    font-family: Arial, Helvetica, sans-serif;


}


.input {
    padding: 0.5vw 20vh;

}

.icone {
    width: 5vh;
    padding: 0 1vh;
    align-self: center;
}

a img {
    width: 40vh;
}

main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    margin: 5vh;
}

main div {
    padding: 5vh;
    text-align: center;
}

main div h3 {
    padding: 2vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


main div:hover {
    background: linear-gradient(to bottom, rgb(51, 105, 117), floralwhite);
    padding: 5vh;

}

main div:active {
    background: linear-gradient(to bottom, rgb(51, 105, 117), floralwhite);
    padding: 5vh;

}




footer {
    background: linear-gradient(to right, white, rgb(51, 105, 117));
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vh 2vh;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

@media screen and (min-device-width : 300px) and (max-device-width : 400px) {

    main,
    header,
    footer {
        display: flex;
        flex-direction: column;
        text-align: center;
    }


    header div {
        display: flex;
        justify-content: center;
    }

    .input {
        width: 1rem;
    }




}