* {
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(to right, white, rgb(51, 105, 117));
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 10px 50px;
    font-family: Arial, Helvetica, sans-serif;
}


.input {
    padding: 0.5vw 20vh;

}

.icone {
    width: 5vh;
    padding: 0 1vh;
    align-self: center;
}


.labetube {
    text-decoration-line: none;
    color: black;
}

.labetube:active {
    color: grey;

}

video {
    width: 50vw;
}


main div {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 2vh;
}

main h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration-line: underline;
}




footer {
    background: linear-gradient(to right, white, rgb(51, 105, 117));
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vh 2vh;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

@media screen and (min-device-width : 300px) and (max-device-width : 400px) {

    main,
    header,
    footer {
        display: flex;
        flex-direction: column;
        text-align: center;
    }


    header div {
        display: flex;
        justify-content: center;
    }

    .input {
        width: 1rem;
    }
    
     video{
        width: 50vh;
        
    }

    main{
        margin-top: 15vh;
    }

    footer h2{
        font-size: medium;
    }



}